.yourDonation{
    display: inline-block;
    width: 100px;
    height: 12px;
    background-color: #0088fe;
    border-radius: 2px;
}
.totalDonation{
    display: inline-block;
    width: 100px;
    height: 12px;
    background-color: #00c49f;
    border-radius: 2px;
}
